* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(16, 15, 23);
    color: rgb(231, 231, 229);
    padding: 20px 90px;
}

.logo {
    margin: 0 10px;
    cursor: pointer;
}
.logo h1{
    font-size: 35px;
}

nav ul  {
    display: flex;
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    color: rgb(231, 231, 229);
    margin: 0 20px;
    padding: 0 10px;
    font-size: large;
}

nav ul li a.is-active {
    border-bottom: 2px solid rgb(28, 190, 166);
    padding-bottom: 15px;
}

nav ul li a:hover {
    border-bottom: 2px solid rgb(28, 190, 166);
    padding-bottom: 15px;
    transform: scale(1.1);
    transition: 0.3s;
}